/* General */
.navigation {
    border: 1px solid black;
    display: flex;
}
ul {
     list-style: none;
}
.empty-header-space {
    flex: 1;
    border: 1px solid green;
}
.nav-list {
    display: flex;
    border: 1px solid red;
    flex: 6;
}
.button {
    flex: 1;
}
.button:hover {
    cursor: pointer;
    color: goldenrod;
}
.links {
    display: flex;
    border: 1px solid blue;
    flex-direction: column;
}
.links-list {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    padding: 0;
    padding-right: 25px;

}
.social {
    margin: 8px 0;
}
.main {
    display: flex;
    height: 600px;;
}
.main-content {
    flex: 4;
    border: 1px solid black;
    padding: 8px ;
}
.everything {
    display: flex;
    border: 1px solid pink;
}
.intro {
    display: flex;
    border: 1px solid palevioletred;
    flex: 3;
    font-size: 55px;
}
.bottom-banner {
    display: flex;
    height: 20px;
    border: 1px solid yellow;
    bottom: 0;
}
.headshot {
  flex: 1;
  max-width: 15%;
  border-radius: 5px;
}
/* carousel */
.carousel {
    display: flex;
    border: 1px solid orangered;
    border-radius: 10px;
    flex: 3;
}
.carouselText {
    flex: 1;
    border: 1px solid tan;
    padding: 10px;
}
.carouselImages img{
    width: 100%;
    display: none;
    border-radius: 10px;
}
.carouselButton {
    background-color: tomato;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}
.carouselButton:hover {
    cursor: pointer;
    background-color: aliceblue;
}