/* General */

body {
    background-color: white;
    color: black;
}
.darkMode {
    background-color: black;
    color: white;
}
.navigation {
    border: 1px solid black;
    display: flex;
}
ul {
     list-style: none;
}
.empty-header-space {
    flex: 1;
    border: 1px solid green;
}
.nav-list {
    display: flex;
    border: 1px solid red;
    flex: 6;
}
.button {
    flex: 1;
}
.button:hover {
    cursor: pointer;
    color: goldenrod;
}
.links {
    display: flex;
    border: 1px solid blue;
    flex-direction: column;
    flex: .5;
}
.links-list {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    padding: 0;
    padding-right: 25px;
    flex: 1;
}
.social {
    margin: 8px 0;
}
.main {
    display: flex;
    height: 600px;;
}
.main-content {
    flex: 4;
    border: 1px solid black;
    padding: 8px ;
}
.everything {
    display: flex;
    border: 1px solid pink;
}
.intro {
    display: flex;
    border: 1px solid palevioletred;
    flex: 3;
    font-size: 55px;
    justify-content: center;
}
.wrap {
    text-align: center;
}
h1 {
    font-size: 40px;
    padding: 10px;
}
h2 {
    font-size: 25px;
}
.bottom-banner {
    display: flex;
    height: 50px;
    border: 1px solid blueviolet;
    justify-content: center;
    padding-top: 25px;
}
.headshot {
  flex: 1;
  max-width: 15%;
  border-radius: 5px;
}
/* carousel */
.carousel {
    display: flex;
    border: 1px solid orangered;
    border-radius: 10px;
    /* flex: 1; */
    justify-content: center;
}
.carouselText {
    flex: 1;
    border: 1px solid tan;
    /* padding: 10px; */
}
.carouselImages img{
    background: tomato;
    padding: 5px;
    height: 290px;
    width: 218px;
    display: none;
    border-radius: 10px;
}
.carouselButton {
    background-color: tomato;
    color: aliceblue;
    padding: 8px;
    height: 5%;
    border-radius: 50%;
    align-self: center;
    margin: 10px;
}
.carouselButton:hover {
    cursor: pointer;
    background-color: aliceblue;
}

/* Dark Mode Toggle Button */
.darkModeButton {
    position: relative;
}
.darkModeButton input {
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle {
    position: absolute;
    /* cursor: pointer; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle {
    background-color: #2196F3;
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .toggle.round {
    border-radius: 34px;
  }
  .toggle.round:before {
    border-radius: 50%;
  }

  /* Download resume button */
  .btn {
    background-color: lightskyblue;
   color: white;
   border-radius: 10px;
   cursor: pointer;
   padding: 5px;
  }
  .btn:hover {
    background-color: blue;
  }
  .resume {
    color: white;
  }

  /* media queries  */
  @media (max-width: 700px) {
    body {
height: 100%;
    }
    .nav-list {
        width: 100%;
        margin: 5px;
        align-items: center;
      
    }
    .everything {
        flex: 0;
    }
    .button {
      
    }
    .everything {
        height: 100px;
    }
    
    h1 {
        
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    .headshot {
        height: 100px;
    }
    .links {
        width: 75px;
    }
  }